
# ignore file extensions
*.DS_Store
*.Rmd
*.html
*.md
*.Rhistory
*.gitignore
*.Rbuildignore
*.Rproj

# ignore folders
**/.git
**/.github
**/.Rproj.user
*docs
*vignettes
*man
*docker
*images
*inst
*data

# ignore specific files
change_log.txt
MIRA-INSTALL.sh
install_docker.sh
docker-compose.yml
docker-compose_*.yml
_pkgdown.yml
