# Ignore file extensions
*.DS_Store
*.Rmd
*.html
*.Rhistory
*.gitignore
*.Rbuildignore
*.Rproj

# Ignore folders
.git
.github
.Rproj.user
man
css
inst
data
docs
envs
tests
images
assets
pkgdown
scripts
vignettes

MIRA-INSTALL.sh
MIRA.code-workspace
_pkgdown.yml

# Ignore specific python folders
__pycache__
modules/__pycache__
utils/__pycache__

# Ignore specific python files
__init__.py
modules/__init__.py
utils/__init__.py
