*pyc
cache-directory
__pycache__
__pycache__/
*__pycache__*
scripts/__pycache__
scripts/__pycache__/
scripts/__pycache__/*
scripts/__pycache__/muscle.cpython-37.pyc

# ignore file extensions
*.vscode
*.DS_Store
*.Rhistory
*.Rbuildignore
*.Rproj
*.Rproj.user

# ignore folders
**/.Rproj.user

# ignore specific files
change_log.txt
